black
fastapi
pylint
pytest
uvicorn[standard]
requests
openai
click
boto3
databricks
databricks-sql-connector
click
databricks-cli
ipython
databricks-connect==10.4.*
dask
dask[distributed]
jupyter
s3fs
bokeh